@import "../../app/variables.scss";

.label {
	font-size: 14px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	text-transform: capitalize;
	max-width: $inputMaxWidth;
	width: 100%;
	input {
		border: none;
		padding: 16px;
		background-color: $muted-bg;
		max-width: $inputMaxWidth;
		width: 100%;

		&:placeholder-shown {
			font-size: 14px;
			color: $muted-text;
		}
	}
}

.checkbox {
	font-size: 16px;
	color: $dark-text;
	display: flex;
	align-items: center;
	gap: 7px;

	input[type="checkbox"] {
		height: 16px;
		width: 16px;
	}
}

.password {
	position: relative;
	max-width: $inputMaxWidth;
	width: 100%;
	span {
		position: absolute;
		transform: scale(0.7);
		right: 12px;
		top: 58%;
		cursor: pointer;
	}
}
