$background: #ffffff;
$brand-color: #2baab1;
$primary-text: #000000;
$muted-bg: #f7f7f7;
$muted-text: #00000080;
$secondary-text: #7c7c7c;
$dark-text: #494949;
$icon-color: #525252;

$mobile: 990px;
$inputMaxWidth: 473px;
