@import "../../app/variables.scss";

.chatCircle {
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: $background;
	box-shadow: 0 2px 32px rgba(0, 0, 0, 16), 0 1px 6px rgba(0, 0, 0, 6);
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		width: 24px;
		height: 24px;
	}
}
